@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
	right:0;
  width: 100%;
	margin-inline:auto;
  height: rem(80);
  z-index: 200;

	transition: all 0.6s ease-out;
	@include mq(md) {
			height: rem(90);
	}
}
.header--top {
	background-color: $greenpale;
  transition: background-color 0.3s ease-in-out;
}
.header--top.is-scroll {
    background-color: rgba(0, 0, 128, 1);
}

.header--sub {
    background-color: rgba(0, 0, 128, 1);
}



.header__inner {
	margin-inline:auto;
  width: 100%;
  height: inherit;
	display: flex;
  justify-content: space-between;
  align-items: center;
	padding:0 rem(30);

	@include mq(md) {

	}
}
.header__logo {
	position: relative;
  width: rem(180);
	height: auto;
	display: flex; // 子要素をフレックスボックスでレイアウト
  justify-content: center; // 横方向の中央揃え
  align-items: center; // 縦方向の中央揃え
	@include mq(md) {
			width: rem(200);
	}
}

.header__logo-img {
	width: 100%;
  height: auto;
  position: absolute; /* 親要素内で重ねて配置 */
  left: 50%;
  top: 50%; /* 縦方向中央揃え */
  transform: translate(-50%, -50%); /* 中央揃えを実現 */
  transition: opacity 0.3s ease-in-out; /* フェードアニメーション */

}

/* 初期状態（PC/SP共通）：スクロール後のロゴとドロワーメニュー用ロゴを非表示 */
.header__logo-img--after,
.header__logo-img--drawer {
	display: none;
}

/* PC版：FVを超えてスクロールした場合 */
.is-scroll .header__logo-img--before {
	display: none; /* 初期ロゴを非表示 */
}

.is-scroll .header__logo-img--after {
	display: block; /* スクロール後のロゴを表示 */
}

/* SP版：ドロワーメニューが開いている場合 */
.is-drawerActive .header__logo-img--before {
	display: none; /* 初期ロゴを非表示 */
}

.is-drawerActive .header__logo-img--drawer {
	display: block; /* ドロワーメニュー用のロゴを表示 */
}
