@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
	right:0;
  width: 100%;
	margin-inline:auto;
  height: rem(80);
  z-index: 200;

	transition: all 0.6s ease-out;
	@include mq(md) {
			height: rem(90);
	}
}
.header--top {
	background-color: $greenpale;
  transition: background-color 0.3s ease-in-out;
}
.header--top.is-scroll {
    background-color: rgba(0, 0, 128, 1);
}

.header--sub {
    background-color: rgba(0, 0, 128, 1);
}



.header__inner {
	margin-inline:auto;
  width: 100%;
  height: inherit;
	display: flex;
  justify-content: space-between;
  align-items: center;
	padding:0 rem(30);

	@include mq(md) {

	}
}
.header__logo {
	position: relative;
  width: rem(180);
	height: auto;
	display: flex; // 子要素をフレックスボックスでレイアウト
  justify-content: center; // 横方向の中央揃え
  align-items: center; // 縦方向の中央揃え
	@include mq(md) {
			width: rem(200);
	}
}
.header__logo img {
	width: 100%;
  object-fit: cover; /* 画像の縦横比を維持しつつ、コンテナに収める */
  display: block; /* `flex` は不要なので `block` に修正 */
  margin: 0 auto; /* 画像を中央揃え */

}

.header__logo-img {
	width: 100%;
  height: auto;
  position: absolute; /* 親要素内で重ねて配置 */
  left: 50%;
  top: 50%; /* 縦方向中央揃え */
  transform: translate(-50%, -50%); /* 中央揃えを実現 */
  transition: opacity 0.3s ease-in-out; /* フェードアニメーション */

}
.header__logo-img--before{
	opacity: 1; /* 表示 */
	z-index: 1;
}

.header__logo-img--after {
  opacity: 0; /* 非表示 */
  z-index: 0; /* 優先順位を下げる */
}
/* スクロール時にロゴを切り替え */
.header.is-scroll .header__logo-img--before {
  opacity: 0; /* スクロール後はフェードアウト */
  z-index: 0; /* 優先順位を下げる */
}
.header.is-scroll .header__logo-img--after {
  opacity: 1; /* スクロール後はフェードイン */
  z-index: 1; /* 優先順位を上げる */
}
