@use "global"as *;

.profile-history__inner {
  position: relative;
  z-index: 1;
  margin-inline: auto;
  width: 100%;
	@include mq(md) {
			max-width: rem(1077);
	}
}

.profile-history__main {
  margin-top: rem(28);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include mq(md) {
    margin-top: rem(40);
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
		gap:2rem;
  }
}

.profile-history__image {
  width: 100%;

  @include mq(md) {
   max-width: calc(50% - 1rem); // 画面幅の半分から適切な余白を引いた幅に変更
  }
  }


.profile-history__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 345 / 227;

  @include mq(md) {
    aspect-ratio: 492 / 746;
  }
}

.profile-history__lists {
  @include mq(md) {
    flex: 1;
    max-width: calc(50% - 1rem);
    padding-left: rem(16);
  }
}
